@model AfpEat.Models.PanierViewModel

@{
    ViewBag.Title = "Historique";
    string isConnected = (Session["Utilisateur"] != null) ? "true" : "false";

}

<section id="HistoriqueUtilisateur" class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Historique</h2>
            <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">

    function getHistorique() {

        let data = { 'idSession':'@Session.SessionID'};

        $.ajax({
            url: "@Url.Action("GetHistoriqueUtilisateur", "Sw")",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify(data),
            error: function (result) {
                console.log('erreur');
            },
            success: function (result)
            {
                if (result.statut) {
                    //Changer la redirection pour un récapitulatif de la commande
                    //document.location.href = '@Url.Action("Index", "Home")';
                }
                else {
                    console.log(result.message);
                }
            }
        });
    }


    $(document).ready(function () {

        getHistorique();

    });
    </script>
}