@model IEnumerable<AfpEat.Models.TypeCuisine>
@{
    ViewBag.Title = "Home Page";
    List<AfpEat.Models.Restaurant> restaurants = ViewBag.Restaurants;
}

<ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="typeCuisine-tab" data-toggle="tab" href="#typeCuisine" role="tab" aria-controls="typeCuisine" aria-selected="true">Cuisines</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="restaurant-tab" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">Restaurants</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="typeCuisine" role="tabpanel" aria-labelledby="typeCuisine-tab">
        <!-- TypeCuisine -->
        <section class="container" id="TypeCuisine">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-3">
                        <div class="card" style="width: 18rem;">
                            <a href="#"><img src="@item.Photo.Nom" class="card-img-top" alt="@item.Nom"></a>
                            <div class="card-body">
                                <h3>@item.Nom</h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
    <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
        <!-- TypeCuisine -->
        <section id="Restaurant" class="container">
            <div class="row">
                @foreach (var item in restaurants)
                {
                    @:<div>@item.Nom</div>
                }
            </div>
        </section>
    </div>
</div>



