
@{
    ViewBag.Title = "PanierAjax";
}

<h2>PanierAjax</h2>

<div id="panierAjax"></div>

@section Scripts{
<script type="text/javascript">

    $(document).ready(function () {

         var data = { 'idSession':'@Session.SessionID'};
            

            $.ajax({
                    url: "@Url.Action("GetProduits", "Sw")",
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    error: function (result) {
                        console.log('erreur')
                    },
                    success: function (result)
                    {
                        var html = "<table class='table'>";
                        $.each(result, function (k, v) {
                            console.log(v.Nom);
                            html += "<tr><td>" + v.Nom + "</td>";
                            html += "<td>" + v.Prix + "€</td>";
                            html += "<td>" + v.Quantite + "</td></tr>";
                        });
                        html += "</table>";
                        $('#panierAjax').html(html);
                        console.log(result);
                    }
                });
            });
</script>
}